html {
  font-size: 10px;
  background: url("./images/drumbackground.jpeg") center;
  background-size: 100vw 100vh;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: flex-end;
  justify-content: center;
}

.key {
  border: 0.4rem solid black;
  border-radius: 2rem;
  margin: 1rem;
  margin-bottom: 5rem;
  font-size: 2.5rem;
  padding: 1rem 0.5rem;
  transition: all 1s ease;
  width: 10rem;
  text-align: center;
  color: rgb(255, 0, 0);
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 0.5rem rgb(23, 24, 23);
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #cfa91c;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #e7d918;
}
